body {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

#container {
  background-color: rgb(50, 0, 0);
  width: 95%;
  margin: auto;
  margin-top: 1em;
  border: 1px rgb(251, 211, 211) solid;
  border-radius: 10px;
  padding: 1em;
}

header h1 {
  font-family: Nosifer, cursive;
  font-size: 3em;
  color: rgb(255, 0, 0);
  margin-bottom: .5em;
}

.germanOne {
  font-family: "Germania One", cursive;
  font-size: 1.35em;
  color:rgb(246, 207, 207);
  margin: .8em;
}

.frame {
  border: 1px rgb(200, 0, 0) solid;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  background-color: rgb(36, 0, 0);
  padding: 1em;
}

#numberOfPlayersConfirm {
  height: 1.5em;
  font-size: 1em;
  width: max-content;
  margin-left: 1em;
}

.creation > input {
  border-color: rgb(200, 0, 0);
  width: 27%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-size: 1.3em;
  color: white;
  height: 2em;
}

.creation > input:focus {
  border-color: rgb(0, 39, 244);
}

.playerClasses {
  margin: 1em;
}

.frame label {
  color: rgb(200, 200, 200);
}

.error {
  color: rgb(255, 0, 0);
  font-size: 1.2em;
  position: absolute;
  margin-left: .5em;
}

#nameError {
  margin : .5em;
}

.button {
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 4px;
  color: rgb(200, 200, 200);
  background-color: rgb(200, 0, 0);
  width: 25%;
  height: 2em;
  font-size: 1.5em;
}

.playerList {
  padding: 2em;
}

.selectFrame {
  font-family: "Germania One", cursive;
  color: rgb(200, 200, 200);
  font-size: 2em;
  margin: .25em;
}

.playerList span {
  border: 1px rgb(200, 0, 0) solid;
  color: rgb(255, 0, 0);
  width: max-content;
  padding: .5em 1em;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  font-size: 1.5em;
  margin: .1em;
}

.startRestart button {
  margin: auto 3em;
}

#stopButton {
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
}

.heroFrame {
  width: 50%;
  position: absolute;
}

.heroFrame ul {
  font-size: 1.3em;
  color: rgb(200, 200, 200);
  margin: 1em 0;
}

.heroFrame li {
  margin: .4em 0;
}

.heroPic {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 10%;
  top: 1em;
}

.heroText {
  position: absolute;
  left: 30%;
  top: 2em;
}

.heroText p {
  font-size: 1.3em;
  color: rgb(200, 200, 200);
  margin: 1em 0;
}

.heroName {
  color: rgb(200, 0, 0);
  font-family: "Germania One", cursive;
  font-size: 2em;
}

.creatureFrame {
  position: relative;
  left: 37%;
}

.creaturePic {
  width: 100px;
  height: 200px;
  margin-top: .8em;
}
